/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}
/* variable */
:root {
  /* bg color */
  --dark-clr: #1f2937;
  --light-clr: #fff;

  --grey--clr: #e5e7eb;
  /* text color */
  --header-text-clr: #f9faf8;
  --heder-logo-clr: #f9faf8;
  --secondary-text-clr: #e5e7eb;
  --btn-clr: #3882f6;
  --info-header-clr: #1f2937;
  /* font size */
  --header-text-size: 48px;
  --header-logo-size: 24px;
  --secondary-text-size: 18px;
  --info-text-size: 36px;
  /* font weight */
  --fw-bold: 700;
  --fw-extra-bold: 900;
  --fw-light: 300;
  /* font style */
  --fs-italic: italic;
}
/* font-family: 'Roboto', sans-serif; */
body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--secondary-text-size);
  line-height: 1.5;
  color: var(--header-text-clr);
}
/* header */
#header-section {
  padding: 20px 40px;

  background-color: var(--dark-clr);
}
.header {
  max-width: 1170px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.container {
  display: flex;
  padding: 20px 0;
  gap: 20px;
}
.header-content h1 {
  font-size: var(--header-text-size);
  line-height: 1.1;
}
.header-content p {
  font-size: var(--secondary-text-size);
  color: var(--secondary-text-clr);
  max-width: 500px;
}
.btn-sign-up {
  background-color: var(--btn-clr);
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.img-content {
}
#section-main {
  padding: 20px 40px;
}
#section-main h2 {
  font-size: var(--info-text-size);
  color: var(--info-header-clr);
  text-align: center;
}
.info {
  width: 200px;
  background-color: red;
  padding: 2rem;
}
.info-img {
  width: 100%;
}
.container-main {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}
